.movie {
  padding: 1em 0;
  margin: 0.5rem;

  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;
  border: solid;
  padding: 2em;
  text-align: center;
  background-color: rgb(240, 231, 237);
}
