html {
  height: 100%;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-image: url('https://images.unsplash.com/photo-1493664543243-589b576c5bcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e9d42a8ed01242550a8784af1966b65&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
}

ul li {
  list-style-type: none;
  display: flex;

}
