/* html {
  height: 100%;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* body {
  background: #B5BEC6 ;
}

.header {
  text-align: center;
}

.content */

ul li {
  list-style-type: none;

}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: rgb(199, 219, 230);
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  color: brown;
  font-size: 5em;
  font-family: 'Rubik', sans-serif;
  font-style: bold;
}
 h2, p, ul, li {
  font-family: 'Rubik', sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color:  rgba(54, 70, 82, .5);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgb(199, 219, 230);

  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
